@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.IndividuoEmViolacao>

@{
    bool estaEditando = ViewData["Editando"] is bool editing && editing;
}

<table class="table">
    <thead>
        <tr>
            <th>Ciclo de Vida</th>
            <th>Violências</th>
            <th>Situações</th>
            <th>Condições</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var individuo in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => individuo.Item!.Titulo) <span class="pontos">(@Html.DisplayFor(model =>
                    individuo.Item!.Categoria!.Pontos) x @Html.DisplayFor(model =>
                    individuo.Item!.Pontos))</span></td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var violencia in individuo.ViolenciasSofridas!)
                            {
                                <li>@Html.DisplayFor(model => violencia.Violencia.Titulo) <span
                                        class="pontos">(@Html.DisplayFor(model => violencia.Violencia!.Categoria!.Pontos) x
                                        @Html.DisplayFor(model => violencia.Violencia.Pontos))</span></li>
                            }
                        </ul>
                    </td>
                    <td>
                        @if (individuo.ViolenciasSofridas != null)
                        {
                            <ul class="list-unstyled">
                                @foreach (var violencia in individuo.ViolenciasSofridas)
                                {

                                    <li>
                                        @if (violencia.Situacao != null)
                                        {
                                            @Html.DisplayFor(model => violencia.Situacao.Titulo) <span
                                                class="pontos">(@Html.DisplayFor(model => violencia.Situacao!.Categoria!.Pontos) x
                                                @Html.DisplayFor(model => violencia.Situacao.Pontos))</span>
                                        }
                                        else
                                        {
                                            <span class="fw-lighter">Desconhecida</span>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>
                        @if (individuo.SituacoesDeSaude != null)
                        {
                            <ul class="list-unstyled">
                                @foreach (var saude in individuo.SituacoesDeSaude)
                                {
                                    <li>@Html.DisplayFor(model => saude.Titulo) <span class="pontos">(@Html.DisplayFor(model =>
                            saude.Categoria!.Pontos) x @Html.DisplayFor(model =>
                            saude.Pontos))</span></li>
                                }
                            </ul>
                        }
                    </td>
                    <td>
                        @{
                            if (estaEditando)
                            {
                                <div>
                                    <a asp-action="Edit" asp-controller="Individuos" asp-route-id="@individuo.Id">Editar</a> |
                                    <a asp-action="Delete" asp-controller="Individuos" asp-route-id="@individuo.Id">Remover</a>
                                </div>
                            }

                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>