@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.Item>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Itens" asp-route-id="@item.Id" asp-route-categoria_id="@item.CategoriaId">Editar</a> |
                    <a asp-action="Details" asp-controller="Itens" asp-route-id="@item.Id" asp-route-categoria_id="@item.CategoriaId">Detalhes</a> |
                    <a asp-action="Delete" asp-controller="Itens" asp-route-id="@item.Id" asp-route-categoria_id="@item.CategoriaId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>