@model AssistenciaSocial.PontuaCasos.WebApp.Models.IndividuoEmViolacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Item.Titulo)</h4>
    <hr />
    <h4>Violências</h4>
    <a asp-action="Create" asp-controller="Violencias" asp-route-caso_id="@Model.Id">Adicionar Violências</a>
    <table class="table">
        <thead>
            <tr>
                <th>Violência</th>
                <th>Situação</th>
                <th>Pontos</th>
                <th>Ações</th>
            </tr>
        </thead>
        @foreach (var item in Model.ViolenciasSofridas)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Violencia.Titulo)</td>
                <td>@Html.DisplayFor(model => item.Situacao.Titulo)</td>
                <td>@Html.DisplayFor(model => item.Situacao.Pontos + item.Violencia.Pontos)</td>
                <td>
                    <a asp-action="Create" asp-controller="Saude" asp-route-caso_id="@Model.Id">Atualizar</a>
                    <a asp-action="Create" asp-controller="Saude" asp-route-caso_id="@Model.Id">Remover</a>
                </td>
            </tr>
        }
    </table>
    <hr />
    <h4>Situações de Saúde</h4>
    <a asp-action="Create" asp-controller="Saude" asp-route-caso_id="@Model.Id">Adicionar Saúde</a>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Saúde</th>
                <th>Pontos</th>
            </tr>
        </thead>
        @foreach (var item in Model.SituacoesDeSaude)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Titulo)</td>
                <td>@Html.DisplayFor(model => item.Pontos)</td>
                <td>
                    <a asp-action="Create" asp-controller="Saude" asp-route-caso_id="@Model.Id">Remover</a>
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Create" asp-controller="Atendidos" asp-route-caso_id="@Model.Id">Adicionar Atendidos</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
