@model AssistenciaSocial.PontuaCasos.WebApp.Models.IndividuoEmViolacao

@{
    ViewData["Title"] = "Editar Pessoa";
}

<h1>Editar</h1>

<h4>Itens Familiares</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item.Titulo)
            </dd>
        </dl>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <h4>Violências</h4>
                <a asp-action="Create" asp-controller="Violencias" asp-route-individuo_id="@Model.Id" class="btn btn-outline-primary">Registrar Violência</a>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var item in Model.OpcoesViolencias!)
                        {
                            <th>@Html.DisplayFor(modelItem => item.Titulo)</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var violencia in Model.ViolenciasSofridas!)
                    {
                        <tr>
                            @foreach (var item in Model.OpcoesViolencias)
                            {
                                var valor = violencia.Violencia.CategoriaId == item.Id ? violencia.Violencia : violencia.Situacao;

                                <td>
                                    @Html.DropDownList(item.Titulo, new SelectList(item.Itens!.OrderByDescending(i => i.Pontos), "Id", "Titulo", valor != null ? valor.Id : null))
                                </td>
                            }
                            <td>
                                <a asp-action="Delete" asp-controller="Violencias" asp-route-id="@violencia.Id">Remover Violência</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h4>Condições da Pessoa em Violação</h4>
                <a asp-action="Create" asp-controller="Saude" asp-route-individuo_id="@Model.Id" class="btn btn-outline-primary">Registrar Condição</a>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var item in Model.OpcoesSaude!)
                        {
                            <th>@Html.DisplayFor(modelItem => item.Titulo)</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var saude in Model.SituacoesDeSaude!)
                    {
                        <tr>
                            @foreach (var item in Model.OpcoesSaude)
                            {
                                <td>
                                    @Html.DropDownList(item.Titulo, new SelectList(item.Itens!.OrderByDescending(i => i.Pontos), "Id", "Titulo", saude.Id))
                                </td>
                            }
                            <td>
                                <a asp-action="Delete" asp-controller="Saude" asp-route-id="@saude.Id" asp-route-individuo_id="@Model.Id">Remover Condição</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="Casos" asp-route-id="@Model.CasoId">Voltar ao Caso</a>
</div>
