@model AssistenciaSocial.PontuaCasos.WebApp.Models.Item

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h1>Detalhes</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnicaPorFamilia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnicaPorFamilia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnicaPorAtendido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnicaPorAtendido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="Itens" asp-route-categoria_id="@Model.Id">Adicionar Itens</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
@if (Model.Itens != null)
{
    <partial name="~/Views/Shared/_ItemList.cshtml" for="Itens" />
}