@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.Item>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Criar Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnicaPorFamilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnicaPorAtendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnicaPorFamilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnicaPorAtendido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificadoEm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
