@model AssistenciaSocial.PontuaCasos.WebApp.Models.Caso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelFamiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelFamiliar)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prontuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prontuario)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>
    </dl>
</div>
<div>
    <h4>Sobre a família</h4>
    <hr />
    <partial name="~/Views/Shared/_CategoriaList.cshtml" model="@Model.Categorias" />
    <h4>Indivíduos em Violação</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Ciclo de Vida</th>
                <th>Violências</th>
                <th>Situações</th>
                <th>Saúde</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var individuo in Model.Individuos)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => individuo.Item.Titulo) <span class="pontos">(@Html.DisplayFor(model =>
                        individuo.Item.Pontos))</span></td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var violencia in individuo.ViolenciasSofridas)
                                {
                                    <li>@Html.DisplayFor(model => violencia.Violencia.Titulo) <span
                                    class="pontos">(@Html.DisplayFor(model => violencia.Violencia.Pontos))</span></li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var violencia in individuo.ViolenciasSofridas)
                                {

                                    <li>
                                        @if (violencia.Situacao != null)
                                        {
                                            @Html.DisplayFor(model => violencia.Situacao.Titulo) <span
                                    class="pontos">(@Html.DisplayFor(model => violencia.Situacao.Pontos))</span>
                                        }
                                        else
                                        {
                                            <span class="fw-lighter">Desconhecida</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var saude in individuo.SituacoesDeSaude)
                                {
                                    <li>@Html.DisplayFor(model => saude.Titulo) <span class="pontos">(@Html.DisplayFor(model =>
                                saude.Pontos))</span></li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <a asp-action="Edit" asp-controller="Individuos" asp-route-id="@individuo.Id">Atualizar
                                        Indivíduo</a>
                                </li>
                                <li>
                                    <a asp-action="Create" asp-controller="Violencias"
                                asp-route-individuo_id="@individuo.Id">Adicionar
                                        Violências</a>
                                </li>
                                <li>
                                    <a asp-action="Create" asp-controller="Saude"
                                asp-route-individuo_id="@individuo.Id">Adicionar
                                        Saúde</a>
                                </li>
                                <li>
                                    <a asp-action="Delete" asp-controller="Individuos" asp-route-id="@individuo.Id">Remover
                                        Indivíduo</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Create" asp-controller="Atendidos" asp-route-caso_id="@Model.Id">Adicionar Atendidos</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
