@model AssistenciaSocial.PontuaCasos.WebApp.Models.Caso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelFamiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelFamiliar)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prontuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prontuario)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModificadoEm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModificadoEm)
        </dd>
    </dl>
</div>
<div>
    <h4>Sobre a família</h4>
    <partial name="~/Views/Shared/_CategoriaList.cshtml" model="@Model.ItensFamiliares" />
    <h4>Indivíduos em Violação</h4>
    <table>
    @{
        @* foreach (var individuo in Model.Individuos)
        {
            var violencias = individuo.Violencias;
            var saude = individuo.Saude; 

            var linhas = violencias.Count() + saude.Count();

            <tr>
                <td rowspan="@linhas">@individuo.Titulo</td>
                @foreach (var violencia in individuo.ViolenciasSofridas)
                {
                    @:</tr><tr>
                    <td>@violencia.Violencia.Titulo</td>
                    <td>@violencia.Situacao</td>
                }

                @foreach (var itemSaude in individuo.Saude)
                {
                    @:</tr><tr>
                    <td>@itemSaude.Titulo</td>
                }
            </tr>
        } *@
    }
    </table>
</div>
<div>
    <a asp-action="Create" asp-controller="Atendidos" asp-route-caso_id="@Model.Id">Adicionar Atendidos</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
