@model ListaPaginavel<AssistenciaSocial.PontuaCasos.WebApp.Models.ListaCasosViewModel>

@{
    ViewData["Title"] = "Lista de Casos";
    var primeiroItem = Model.Itens.FirstOrDefault();
}

<h1>Casos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Novo Caso</a>
</p>
<div class="d-flex justify-content-end">
    <a asp-action="Index" asp-route-filtro="ativos" class="btn btn-outline-info ms-2">Meus Casos Ativos</a>
    <a asp-action="Index" asp-route-filtro="inativos" class="btn btn-outline-info ms-2">Meus Casos Inativos</a>
    @if (User.IsInRole(AssistenciaSocial.PontuaCasos.WebApp.Models.Perfil.PERFIL_GESTORES))
    {
        <a asp-action="Index" asp-route-filtro="todos" class="btn btn-outline-info ms-2">Todos</a>
        <a asp-action="Export" class="btn btn-outline-warning ms-2">Exportar Casos Ativos</a>
    }
    <form class="d-flex ms-2" method="get" action="@Url.Action("Index", "Casos")">
        <input type="text" name="busca" class="form-control me-2" placeholder="Buscar casos..."
            value="@ViewData["busca"]" />
        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.ResponsavelFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.Prontuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.Pontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => primeiroItem!.ModificadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsavelFamiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prontuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificadoEm)
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            @if (item.EmAtualizacao)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Continuar Atualização</a>
                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Iniciar Atualização</a>
                            }
                        </li>
                        @if (item.EmAtualizacao)
                        {
                            <li>
                                <a asp-action="EditConfirmed" asp-route-id="@item.Id" class="btn btn-danger"
                                    onclick="return confirm('Tem certeza que deseja concluir a atualização deste caso e gravar uma nova versão no histórico?')">Finalizar
                                    Atualização</a>
                            </li>
                        }
                        <li>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </li>
                        <li>
                            <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </li>
                        <li>
                            <a asp-action="History" asp-route-id="@item.Id">Ver Histórico</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPaginas > 1)
{
    <div class="d-flex justify-content-end">
        Página:

        @if (Model.TemPaginaAnterior)
        {
            <a class="mx-1" asp-action="Index" asp-route-pagina="@(Model.Pagina - 1)"
                asp-route-tamanhoPagina="@Model.TamanhoPagina" asp-route-filtro="@ViewData["filtro"]"
                asp-route-busca="@ViewData["busca"]">Anterior</a>
        }

        @for (int i = (Model.Pagina <= 3 ? 1 : Model.Pagina - 3); (Model.Pagina <= 3 ? i <= 6 : i <= Model.Pagina + 3) && i
            <= Model.TotalPaginas; i++)
        {
            if (i == Model.Pagina)
            {
                <span class="mx-1">@i</span>
            }
            else
            {
                <a class="mx-1" asp-action="Index" asp-route-pagina="@(i)" asp-route-tamanhoPagina="@Model.TamanhoPagina"
                    asp-route-filtro="@ViewData["filtro"]" asp-route-busca="@ViewData["busca"]">@i</a>
            }
        }

        @if (Model.TemProximaPagina)
        {
            <a class="mx-1" asp-action="Index" asp-route-pagina="@(Model.Pagina + 1)"
                asp-route-tamanhoPagina="@Model.TamanhoPagina" asp-route-filtro="@ViewData["filtro"]"
                asp-route-busca="@ViewData["busca"]">Próxima</a>
        }
        <span class="ms-5">
            Itens por página:
            @for (int i = 10; i <= Model.TotalItens && i <= 100; i = i * 2)
            {
                if (i == Model.TamanhoPagina)
                {
                    <span class="mx-1">@i</span>
                }
                else
                {
                    <a class="mx-1" asp-action="Index" asp-route-pagina="@(Model.Pagina)" asp-route-tamanhoPagina="@i"
                        asp-route-filtro="@ViewData["filtro"]" asp-route-busca="@ViewData["busca"]">@i</a>
                }
            }
        </span>
    </div>
}
