@model IEnumerable<AssistenciaSocial.PontuaCasos.WebApp.Models.Caso>

@{
    ViewData["Title"] = "Lista de Casos";
}

<h1>Casos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Novo Caso</a>
</p>
<p class="d-flex justify-content-end">
    @if (User.IsInRole(AssistenciaSocial.PontuaCasos.WebApp.Models.Perfil.PERFIL_GESTORES))
    {
        <a asp-action="Index" asp-route-filtro="todos" class="btn btn-outline-info ms-2">Todos</a>
    }
    <a asp-action="Index" asp-route-filtro="ativos" class="btn btn-outline-info ms-2">Meus Casos Ativos</a>
    <a asp-action="Index" asp-route-filtro="inativos" class="btn btn-outline-info ms-2">Meus Casos Inativos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelFamiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prontuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsavelFamiliar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prontuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificadoEm)
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            @if (item.EmAtualizacao)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Continuar Atualização</a>
                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Iniciar Atualização</a>
                            }
                        </li>
                        @if (item.EmAtualizacao)
                        {
                            <li>
                                <a asp-action="EditConfirmed" asp-route-id="@item.Id" class="btn btn-danger"
                            onclick="return confirm('Tem certeza que deseja concluir a atualização deste caso e gravar uma nova versão no histórico?')">Finalizar
                                    Atualização</a>
                            </li>
                        }
                        <li>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </li>
                        <li>
                            <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </li>
                        <li>
                            <a asp-action="History" asp-route-id="@item.Id">Ver Histórico</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
